.heroSection {
    width: 100%;
    /* max-width: 1440px; */
    min-height: 748px;
    margin: auto;
    padding: 0px 5%;
    position: relative;
}

.heroSection::after {
    content: "";
    width: 111px;
    height: 176px;
    background-color: var(--mainColor);
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 30px;
}

.heroSection::before {
    content: "";
    width: 600px;
    height: 85%;
    background-color: var(--mainColor);
    position: absolute;
    top: 0;
    left: 0;
}

.heroSection .row {
    align-items: flex-start;
}

.heroSection__content {
    flex-basis: 100%;
    z-index: 1;
}

.heroSection__content .row {
    align-items: center;
    column-gap: 100px;
}

.heroSection__content--info {
    flex: 1;
}

.heroSection__content--info-title {
    font-weight: 600;
    font-size: 56px;
    color: black;
}

.heroSection__content--info-title span {
    color: var(--mainColor);
}

.heroSection__content--info-desc {
    font-size: 18px;
    font-weight: 400;
    color: black;
    margin: 10px 0px 50px 0px;
}

.heroSection__content--img {
    flex-basis: 615px;
}

@media (max-width: 757px) {
    .heroSection::after,
    .heroSection::before {
        display: none;
    }
    .heroSection__content--info {
        order: 1;
    }
}

.aboutUs {
    padding-bottom: 100px;
    transform: translateY(-60px);
}

.aboutUs__box {
    flex-basis: 328px;
    flex: 1;
    min-height: 286px;
    padding: 35px 40px;
    box-shadow: 0px 13px 19px 0px #00000012;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.aboutUs__box--icon {
    width: 70px;
    height: 76px;
    border-radius: 10px;
    background-color: var(--secondColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutUs .row .aboutUs__box:nth-child(2) .aboutUs__box--icon {
    background-color: #40bb15;
}

.aboutUs .row .aboutUs__box:nth-child(1) .aboutUs__box--icon {
    background-color: #3c403d;
}

.aboutUs__box--icon img {
    width: 25px;
    height: auto;
}

.aboutUs__box--desc {
    font-weight: 400;
    font-size: 14px;
    color: var(--textColor);
}

.aboutUs__box .sectionTitle {
    font-size: 16px;
    padding-top: 0px;
    padding-bottom: 10px;
}

.aboutUs__box .sectionTitle::after {
    width: 50px;
    height: 2px;
    bottom: 10px;
    top: 100%;
}

@media (max-width: 1100px) {
    .aboutUs {
        padding: 100px 0px;
        transform: translateY(0px);
    }
}
