.mainBtn {
    width: fit-content;
    min-height: 52px;
    border-radius: 5px;
    padding: 15px 40px;
    background-color: var(--secondColor);
    font-weight: 700;
    font-size: 14px;
    color: white;
    cursor: pointer;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 20px;
}


.container {
    width: 80%;
    margin: auto;
    height: 100%;
}

.sectionTitle {
    font-weight: 700;
    font-size: 30px;
    color: var(--titleColor);
    position: relative;
    padding-top: 20px;
}

.sectionTitle::after {
    content: "";
    display: block;
    background-color: var(--redColor);
    width: 94px;
    height: 7px;
    position: absolute;
    top: 0;
    right: 0;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 100px;
}